@font-face {
    font-family: brain1;
    src: url(../fonts/brain1.otf);
}

@font-face {
    font-family: brain2;
    src: url(../fonts/brain2.tff);
}

body {
    background-image: url(../images/background.jpg)
}

.navbar-brand {
    font-family: brain1 !important;
    color: rgb(68,68,92) !important;
}

