@font-face {
    font-family: brain1;
    src: url(../fonts/brain1.otf);
}

@font-face {
    font-family: "BrainStew";
    src: url(../fonts/brain2.otf) format("opentype"); /* Open Type Font */
    font-weight: normal;
    font-style: normal;
}


body {
    background-image: url(../images/background.jpg)
}

.navbar-brand {
    /*font-family: brain2 !important;*/
    color: rgb(68,68,92) !important;
}

.brain {
    font-family: "BrainStew" !important;
}

